@page
@model RazorPages.Pages.Students.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Student</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Student.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Student.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Student.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Student.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Student.EnrollmentDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Student.EnrollmentDate)
		</dd>
		<dt class="col-sm-10">
			@Html.DisplayFor(model => model.Student.Enrollments)
		</dt>
		<dd class="col-sm-10">
			<table class="table">
				<thead>
					<tr>
						<th>Course title</th>
						<th>Grade</th>
					</tr>
				</thead>
				<tbody>
					@foreach (RazorPages.Models.Enrollment enrollment in Model.Student.Enrollments)
					{
						<tr>
							<td>@enrollment.Course.Title</td>
							<td>@enrollment.Grade</td>
							@* 
							<td>@Html.DisplayFor(item => enrollment.Course.Title)</td>
							<td>@Html.DisplayFor(item => enrollment.Grade)</td>
							*@
						</tr>	
					}
				</tbody>
			</table>
		</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
