@page
@model RazorPages.Pages.Instructors.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Instructor</h4>
<hr />
<div class="row">
	<div class="col-md-6">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Instructor.ID" />
			<div class="form-group">
				<span class="text-danger">*</span>
				<label asp-for="Instructor.LastName" class="control-label"></label>
				<input asp-for="Instructor.LastName" class="form-control" aria-required="true"/>
				<span asp-validation-for="Instructor.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<span class="text-danger">*</span>
				<label asp-for="Instructor.FirstName" class="control-label"></label>
				<input asp-for="Instructor.FirstName" class="form-control" aria-required="true"/>
				<span asp-validation-for="Instructor.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Instructor.HireDate" class="control-label"></label>
				<input asp-for="Instructor.HireDate" class="form-control" />
				<span asp-validation-for="Instructor.HireDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Instructor.OfficeAssignment.Location" class="control-label"></label>
				<input asp-for="Instructor.OfficeAssignment.Location" class="form-control" />
				<span asp-validation-for="Instructor.OfficeAssignment.Location" class="text-danger"></span>
			</div>
			<div class="">
				<div class="" style="min-width:400px;">
					<table style="min-width:400px;">
						<tr>
							@{
								int cnt = 0;
								foreach (RazorPages.Models.ViewModels.AssignedCourseData course in Model.AssignedCourseDataList)
								{
									if (cnt++ % 3 == 0)
									{
										@:</tr><tr>
									}
									@:<td>
									@:<div>
										<input	type="checkbox" 
												name="selectedCourses" 
												value="@course.CourseID" 
												id="@course.CourseID" 
												@(Html.Raw(course.Assigned ? "checked=\"checked\"" : ""))
												/>
												<label for="@course.CourseID">
												@course.CourseID: @course.Title
												</label>
									@:</div>
									@:</td>
								}
							}
						</tr>
					</table>
				</div>
			</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
